<h2>Ingredients</h2>
<ul>
{{#each ingredients}}
	{{#with this}}
		<li class="ingredient">{{name}}, ${{price}}
		<form id="outOfStock" action="remove" method="POST">
			<input class="outButton" type="submit" value="Out of Stock">
		</form>
		<form id="edit" action="edit" method="POST">
			<input class="editButton" type="submit" value="Edit">
			<div class="editIngredient" style="display:none">
				<form id='ingredientData'>
					Name: <input type='text' name='name'>	
					Price: <input type='text' name='price'>	
					<input class='submitEdit' type='submit' value='Submit'>
				</form>
			</div>
		</form>
		</li>
	{{/with}}
{{/each}}
<li class="addIngredient" style="display:none"></li>
</ul>
<form id="add" action="add" method="POST">
	<input class="addButton" type="submit" value="Add">
	<div class="newIngredient" style="display:none">
		<form id='ingredientData'>
			Name: <input type='text' name='name'>	
			Price: <input type='text' name='price'>	
			<input class='submitAdd' type='submit' value='Submit'>
		</form>
	</div>
</form>
